[Unit]
Description=Control Service for Den Den Mushi

[Service]
ExecStart=/usr/controller/control --config /usr/config.json

WorkingDirectory=/usr/controller
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target